.flowers-up-left {
  position: absolute;
  width: 180px;
  height: 187px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.flowers-down-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 110px;
  height: 220px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 600px) {
  .flowers-up-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 260px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .flowers-down-right {
    position: absolute;
    right: 15px;
    bottom: 0;
    width: 159px;
    height: 321px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
